/* Estilizando um parágrafo */
p {
    color: blue;
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Estilizando um cabeçalho */
  h1 {
    color: red;
    text-align: center;
  }
  
  /* Estilizando um link */
  a {
    color: purple;
    text-decoration: none;
  }
  
  /* Estilizando uma lista não ordenada */
  ul {
    list-style-type: circle;
  }
  
  /* Estilizando uma classe específica */
  .minha-classe {
    background-color: yellow;
    padding: 10px;
  }  